ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

.bar {
  float: left;
  display: block;
  padding: 2px;
  background-color: #dddddd;
}
li:hover {
  background-color: aquamarine;
  color: white;
}
header {
  background-color: #555;
  height: 200px;
  width: auto;
}

#primera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 230px;
  margin: 21px 260px 5px 260px;
}
footer {
  display: flex;
  justify-content: center;
}
